@import 'src/shared/styles/variables.scss';

.main {
  display: flex;
  flex-direction: column;
  border-radius: $border-radius;
  text-transform: uppercase;
  font-weight: bold;
  color: $white;
  overflow: hidden;
}

.title {
  display: flex;
  justify-content: center;
  background-color: $grey-dark;
  padding: $padding;
}

.body {
  flex: 1;
  padding: $padding;
  background-color: $black;
  display: flex;
  justify-content: space-between;
  @include media('>tablet') {
    flex-direction: column;
  }
}

.content {
  border-radius: 3px;
  border: 1px solid $grey-dark;
  padding: $padding;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $margin 0;
  @include media('>tablet') {
    flex-direction: column;
  }
}

.turn_variable {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $margin;
}

.button {
  margin-top: $margin;
}

.name {
  font-size: 12px;
  letter-spacing: 1px;
}
.value {
  font-size: 30px;
}