@import 'src/shared/styles/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  @include media('>tablet') {
    flex-direction: row;
  }
}

.main {
  display: flex;
  flex-direction: column;
  @include media('>tablet') {
    margin-right: $margin;
  }
}

.side {
  display: flex;
  flex-direction: column;
  margin-top: $margin;
  @include media('>tablet') {
    margin-top: 0;
    margin-left: $margin;
    &>* {
      flex: 1;
    }
    max-height: 464px;
  }
}

.characters {
  display: flex;
  flex-direction: column;
  margin-bottom: $margin;
  &>* {
    flex: 1;
    &+* {
      margin-top: $margin;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: $margin;
  row-gap: $margin;
  align-self: stretch;
  position:relative;
  margin-top: $margin;
  overflow-y: auto;
  max-height: 200px;
  @include media('>tablet') {
    max-height: 350px;
  }
}

