@import 'src/shared/styles/variables.scss';

.main {
  background-color: $black;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  padding: $padding;
  color: $white;
  font-weight: bold;
  cursor: pointer;
}

.image {
  width: 100px;
  height: 80px;
  background-color: $grey-dark;
  border-radius: 3px;
  margin-bottom: $margin;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.effect {
  text-transform: capitalize;
}

.value {

}