@import 'src/shared/styles/variables.scss';

.main {
  max-width: 600px;
  max-height: 400px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-weight: bold;
  font-size: 24px;
  background-color: $black;
  border-radius: $border-radius;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}